{% extends 'frontend/base.html' %}
{% block content %}
  <section id="blog" style="padding: 0 0 20px 0 !important;">
    <div style="overflow: hidden;">
      {% if settings.about_us_banner %}
      <img class="img-responsive" src="{{settings.about_us_banner.img_value}}" alt="" style="display: block; width: 100%;"> 
      {% endif %}
    </div>
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-md-offset-2 wow fadeInUp" data-wow-duration="1000ms" 
            data-wow-delay="400ms" >
          <h3 style="font-size: 2rem; font-weight: bold; text-align: center; margin-bottom: 30px;">
            {{settings.about_us_title.text_value}}
          </h3>
          <span class="date">{{blog.date}}</span>
          <div class="entry-content" style="
              font-size: 1em;
              letter-spacing: 0.5px;
              color: black;
              line-height: 1.5em;">
            {{settings.about_us_long_description.text_value|safe}}
          </div>
        </div>            
      </div>
    </div>
  </section><!--/#blog-->
  {% endblock %}