{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Imam Asari">
  <title>{{settings.seo_title.text_value}}</title>
  {% include "./meta.html" %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link id="css-preset" href="{% static 'css/presets/preset1.css' %}" rel="stylesheet">
  <link href="{% static 'css/override.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{settings.favicon.img_value}}">
  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>
  {% block extra_header %} {% endblock %}
</head>
<body>
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <header id="home">
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="logo-header" src="{{ settings.logo.img_value }}" alt="logo">
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">   
            {% for menu in menus %}
              {% if menu.name == 'home' and homepage %}
                <li class="scroll"><a href="#home">{{menu.name}}</a></li>
              {% else %}
                <li ><a href="{{menu.one_page_url}}">{{menu.name}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </header>

  {% block content %} {% endblock %}

  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
          <a href="/">
            <img class="img-responsive footer-img" src="{{ settings.footer_logo.img_value }}" alt="logo-suretez">
          </a>
        </div>
        <div class="social-icons wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
          <ul>
            {% if settings.linkedin_url %}
            <li>
              <a class="twitter" href="{{settings.linkedin_url.text_value}}" target="_blank">
                <img class="img-responsive social-img" src="{% static 'suretezimg/linkedin.png' %}" alt="linkedin-logo">
              </a>
            </li> 
            {% endif %}

            {% if settings.twitter_url %}
            <li>
              <a class="facebook" href="{{settings.twitter_url.text_value}}" target="_blank">
                <img class="img-responsive social-img" src="{% static 'suretezimg/twitter.png' %}" alt="linkedin-logo">
              </a>
            </li>
            {% endif %}

            {% if settings.google_url %}
            <li>
              <a class="instagram" href="{{settings.google_url.text_value}}" target="_blank">
                <img class="img-responsive social-img" src="{% static 'suretezimg/google.png' %}" alt="linkedin-logo">
              </a>
            </li>
            {% endif %}

            {% if settings.instagram_url %}
            <li>
              <a class="youtube" href="{{settings.instagram_url.text_value}}" target="_blank">
                <img class="img-responsive social-img" src="{% static 'suretezimg/instagram.png' %}" alt="linkedin-logo">
              </a>
            </li>
            {% endif %}

            {% if settings.facebook_url %}
            <li>
              <a class="youtube" href="{{settings.facebook_url.text_value}}" target="_blank">
                <img class="img-responsive social-img" src="{% static 'suretezimg/facebook.png' %}" alt="linkedin-logo">
              </a>
            </li>
            {% endif %}

          </ul>
        </div>
        <div class="row address" >
          <div class="col-sm-4" style="text-align: left; ">
            <p style="color: white; font-size: 12px;">{{ settings.footer_address_left.text_value|safe }}</p>
          </div>
          <div class="col-sm-8" style="text-align: left; ">
            <p style="color: white; font-size: 12px">{{ settings.footer_address_right.text_value|safe }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
      <p style="margin: 0; color: white;">{{ settings.footer_bottom_text.text_value|safe }}</p>
    </div>
  </footer>
  
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyCoVB52bTd3g_s0RGR7PZSqfStKxX6eYUI"></script>
  <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/loadmore.js' %}"></script>
  {% block extra_js %} {% endblock %}
</body>
</html>