{% for blog in blogs %}
<div class="col-sm-4 item wow fadeInUp" 
  data-wow-duration="1000ms" data-wow-delay="400ms">
  <div class="post-thumb">
    <a href="{% url 'frontend:blog_detail' blog.slug %}"><img class="img-responsive" src="{{blog.img1.url}}" alt=""></a> 
  </div>
  <div class="entry-header">
    <h3><a href="{% url 'frontend:blog_detail' blog.slug %}">{{blog.title}}</a></h3>
  </div>
  <hr/>
  <div class="entry-content">
    <p>{{blog.short_desc|truncatewords:"30"}}</p>
  </div>
  <a href="{% url 'frontend:blog_detail' blog.slug %}" class="read-more">Read more</a>
</div>
{% endfor %} 