{% extends 'frontend/base.html' %}
{% block content %}

<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div style="overflow: hidden;">
      {% if settings.blog_banner %}
      <img class="img-responsive" src="{{settings.blog_banner.img_value}}" alt="" style="display: block; width: 100%;"> 
      {% endif %}
    </div>
  </div>
</div>

<section id="blog">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
      {{settings.blog_title.text_value}}
    </h1>
    <div class="blog-posts">
      <div class="row list" id="posts">
        {% include 'frontend/blogs.html' %}
      </div>
      <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <a id="lazyLoadLink" href="javascript:void(0);" data-page="2" data-link="{% url 'frontend:lazy_load_blogs' %}"
          class="btn-loadmore">View More</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}