{% for blog in blogs %}
<div class="col-md-12 item wow fadeInUp" 
  data-wow-duration="1000ms" data-wow-delay="400ms" style="margin-bottom: 50px; padding: 0">
  <div class="post-thumb">
    <a href="{% url 'frontend:blog_detail' blog.slug %}"><img class="img-responsive" src="{{blog.img1.url}}" alt=""></a> 
  </div>
  <div class="entry-header">
    <h3><a href="{% url 'frontend:blog_detail' blog.slug %}">{{blog.title}}</a></h3>
  </div>
  <hr/>
  <div class="entry-content">
    <p style="color: rgb(49, 48, 48);">{{blog.short_desc|truncatewords:"30"}}</p>
  </div>
  <a href="{% url 'frontend:blog_detail' blog.slug %}" class="read-more" style="font-weight: bold; font-size: 1rem;">Read more</a>
</div>
{% endfor %} 