{% extends 'frontend/base.html' %}
{% block content %}
  <section id="blog" style="padding: 0 0 20px 0 !important;">
    <div style="overflow: hidden;">
      {% if blog.img2 %}
      <img class="img-responsive" src="{{blog.img2.url}}" alt="" style="display: block; width: 100%;"> 
      {% endif %}
    </div>
    <div class="container" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-8 wow fadeInUp" data-wow-duration="1000ms" 
            data-wow-delay="400ms" >
          <h3 style="font-size: 2rem; font-weight: bold;">{{blog.title}}</h3>
          <span class="date">{{blog.date}}</span>
          <div class="entry-content" style="
              font-size: 1em;
              letter-spacing: 0.5px;
              color: black;
              line-height: 1.5em;">
            {{blog.long_desc|safe}}
          </div>
        </div>   
        <div class="col-md-4">
          <h3 style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">More Tip</h3>
          {% include 'frontend/blogs-portrait.html' %}
        </div>                       
      </div>
    </div>
  </section><!--/#blog-->
  {% endblock %}