{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    {% for banner in banners %}
      <div class="item {% if forloop.counter == 1 %} active {% endif %}" style="height: 100% !important;">
        <img src="{{ banner.img.url }}" style="width: 100%;" />
        <!-- <div class="caption"> -->
          <!-- {% if banner.big_text %}
          <h1 class="animated fadeInLeftBig">{{ banner.big_text|safe|default:"" }}</h1>
          {% endif %}
          {% if banner.small_text %}
          <p class="animated fadeInRightBig">{{ banner.small_text|safe|default:"" }} </p>
          {% endif %} -->
          <!-- <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a> -->
        <!-- </div> -->
      </div>
    {% endfor %}
  </div>
  <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
  <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
  <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>
</div>

{% if '/#aboutus' in menu_list %}
<section id="aboutus">
  <div class="container">
    <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
        <div class="col-sm-8 col-sm-offset-2">
          <h2 style="font-weight: bold; text-align: center;" style="margin-bottom: 20px;">{{settings.about_us_title.text_value}}</h2>
          {{settings.about_us_description.text_value|safe}}
          <div style="text-align: center; margin: 3rem 0;">
          <!-- <img class="line-vertical"  src="{% static 'suretezimg/line-vertical.png' %}" /> -->
            <div href="/#products" 
                class="btn-hello">{{settings.about_us_caption.text_value|safe}}</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %}
{% if '/#products' in menu_list %}
<section id="products" class="productsz">
  <div class="container row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
    <div class="col-md-6 col-sm-12 left">
      <div>
        <img style="max-width: 100%;" src="{{ settings.product_left_img.img_value }}" />
      </div>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <img class="img-title" src="{{settings.product_text_img.img_value|safe}}" />
      <h2 style="margin-left: 2rem;">{{settings.product_name.text_value|safe}}</h2>
      {{settings.product_description.text_value|safe}}
    </div>
  </div>

  <div class="product-list row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_1.img_value }}" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_2.img_value }}" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_3.img_value }}" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_4.img_value }}" />
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
</section>
{% endif %}
{% endcomment %}

{% if '/#products' in menu_list %}
<section id="products" class="productsz">
  <div class="container row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
    <div class="col-md-6 col-sm-12 left">
      <div>
        <img style="max-width: 100%;" src="{{ settings.product_left_img.img_value }}" />
      </div>
    </div>
    <div class="col-md-6 col-sm-12 right">
      <img class="img-title" src="{{settings.product_text_img.img_value|safe}}" />
      <h2 style="margin-left: 2rem;">{{settings.product_name.text_value|safe}}</h2>
      {{settings.product_description.text_value|safe}}
    </div>
  </div>

  <div class="product-list row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_1.img_value }}" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_2.img_value }}" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_3.img_value }}" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div>
        <img src="{{ settings.product_img_4.img_value }}" />
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
</section>
{% endif %}


<section id="benefit">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
      {{settings.benefit_title.text_value}}
    </h1>

    <div class="benefit-list wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
      <div class="col-md-10 col-md-offset-1 col-sm-12 item">
        <img class="benefit-img" src="{{ settings.benefit_1_img.img_value }}" />
        <div>{{ settings.benefit_1_desc.text_value }}</div>
      </div>
      <!-- <div class="col-md-4 col-sm-12 item">
        <img class="benefit-img" src="{{ settings.benefit_2_img.img_value }}" />
        <div>{{ settings.benefit_2_desc.text_value }}</div>
      </div>
      <div class="col-md-4 col-sm-12 item">
        <img class="benefit-img" src="{{ settings.benefit_3_img.img_value }}" />
        <div>{{ settings.benefit_3_desc.text_value }}</div>
      </div> -->
    </div>
  </div>
</section>


{% if settings.invite_title_2.text_value %}
<section id="invite-2" class="parallax" style="background-image: url({{settings.invite_background_2.img_value}});">
  <div class="container">
    <div class="list">
      <div class="col-md-7 col-sm-12 item wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
        <h2>{{settings.invite_title_2.text_value}}</h2>
        {{ settings.invite_description_2.text_value|safe}}
      </div>
    </div>
  </div>
</section>
{% endif %}


<section id="find">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
      {{settings.find_product_title.text_value}}
    </h1>
    <div class="row" data-wow-duration="1000ms" data-wow-delay="500ms" >
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img1.img_value }} " style="max-width: 90%;" />
      </div>
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img2.img_value }}" style="max-width: 90%;" />
      </div>
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img3.img_value }}" style="max-width: 90%;" />
      </div>
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img4.img_value }}" style="max-width: 90%;" />
      </div>
    </div>
  </div>
</section>

<section id="invite" class="parallax" style="background-image: url({{settings.invite_background.img_value}});">
  <div class="container">
    <div class="list">
      <div class="col-md-7 col-sm-12 item wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
        <h2>{{settings.invite_title.text_value}}</h2>
        {{ settings.invite_description.text_value|safe}}
      </div>
    </div>
  </div>
</section>

{% if '/#blog' in menu_list %}
<section id="blog">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
      {{settings.blog_title.text_value}}
    </h1>
    <div class="blog-posts">
      <div class="row list" id="posts">
        {% include 'frontend/blogs.html' %}
      </div>
      <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <a id="lazyLoadLink" href="/blog" 
          class="btn-loadmore">View More</a>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if testimonies %}
<section id="twitter">
    <div class="container">
      <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" >
        {{settings.testimoni_title.text_value}}
      </h1>
      <div id="twitter-carousel" class="carousel slide wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" data-ride="carousel">
        <div class="carousel-inner" style="position: relative;">
          {% for test in testimonies %}
            {% if forloop.counter0|divisibleby:2 %}
              <div class="item {% if forloop.counter0 %} active {% endif %}">
              <div class="row item-wrapper" >
            {% endif %}
              <div class="col-md-6" style="display: flex;">
                <img src="{{ test.img.url }}" />
                <div class="right">
                  <p class="name">{{ test.user|safe }}</p>
                  <p  class="address">{{ test.address }}</p>
                  <p  class="testimony">{{ test.testimony|safe }}</p>
                </div>
              </div>
            {% if forloop.counter|divisibleby:2 %}
              </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- control -->
        <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i
          class="fa fa-angle-left"></i></a>
        <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i
            class="fa fa-angle-right"></i></a>
      </div>
  </div>
</section>
{% endif %}


{% endblock %}