{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    {% for banner in banners %}
    <div class="item {% if forloop.counter == 1 %} active {% endif %}" style="height: 100% !important;">
      <img src="{{ banner.img.url }}" style="width: 100%;" />
      <!-- <div class="caption"> -->
      <!-- {% if banner.big_text %}
          <h1 class="animated fadeInLeftBig">{{ banner.big_text|safe|default:"" }}</h1>
          {% endif %}
          {% if banner.small_text %}
          <p class="animated fadeInRightBig">{{ banner.small_text|safe|default:"" }} </p>
          {% endif %} -->
      <!-- <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a> -->
      <!-- </div> -->
    </div>
    {% endfor %}
  </div>
  <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
  <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
  <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>
</div>


<section id="aboutus">
  <div class="container">
    <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 style="font-weight: bold; text-align: center; margin-bottom: 20px;">
            {{settings.about_us_title.text_value}}</h2>
          {{settings.about_us_description.text_value|safe}}
          <div style="text-align: center; margin: 3rem 0;">
            <a href="/#products" class="btn-hello">{{settings.about_us_caption.text_value|safe}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="products" class="productsz">
  <div class="container row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" style="display: flex" ;>

    {% for prod in products|slice:":2" %}
    {% with forloop.counter as outer_counter %}
    <div class="col-md-6 col-sm-4 text-center" style="flex: 1;">
      <div class="w3-content product-preview">
        <div class="img-container" style="border-bottom: none; margin-bottom: 20px;">
          {% for photo in prod.productphoto_set.all %}
          <a href="{% url 'frontend:product_detail'  prod.slug %}">

            <img class="mySlides mySlides{{outer_counter}} img-display" src="{{ photo.img.url }}"
              alt=={{forloop.counter}}
              style="max-height: 100%; {% if not forloop.counter == 1 %} display: none {% endif %}">
          </a>
          {% endfor %}
        </div>
        <h5 class="prod-name">{{ prod.name }}</h5>
        <a href="{% url 'frontend:product_detail'  prod.slug %}"
          class="btn-viewmore">{{settings.product_view_more.text_value|safe}}</a>
      </div>
    </div>
    {% endwith %}
    {% endfor %}

  </div>
  </div>
</section>


{% if settings.invite_title_2.text_value %}
<section id="invite-2" class="parallax" style="background-image: url({{settings.invite_background_2.img_value}});">
  <div class="container">
    <div class="list">
      <div class="col-md-7 col-sm-12 item wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <h2>{{settings.invite_title_2.text_value}}</h2>
        {{ settings.invite_description_2.text_value|safe}}
      </div>
    </div>
  </div>
</section>
{% endif %}


<!-- <section id="blog">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
      {{settings.blog_title.text_value}}
    </h1>
    <div class="blog-posts">
      <div class="row list" id="posts">
        {% include 'frontend/blogs.html' %}
      </div>
    </div>
  </div>
</section> -->


{% if testimonies %}
<section id="twitter">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
      {{settings.testimoni_title.text_value}}
    </h1>
    <div id="twitter-carousel" class="carousel slide wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms"
      data-ride="carousel">
      <div class="carousel-inner" style="position: relative;">
        {% for test in testimonies %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="item {% if forloop.counter0 %} active {% endif %}">
          <div class="row item-wrapper">
            {% endif %}
            <div class="col-md-6" style="display: flex;">
              <img src="{{ test.img.url }}" />
              <div class="right">
                <p class="name">{{ test.user|safe }}</p>
                <p class="address">{{ test.address }}</p>
                <p class="testimony">{{ test.testimony|safe }}</p>
              </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!-- control -->
      <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i
          class="fa fa-angle-left"></i></a>
      <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i
          class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
{% endif %}



<section id="find">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
      {{settings.find_product_title.text_value}}
    </h1>
    <div class="row" data-wow-duration="1000ms" data-wow-delay="500ms">
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img1.img_value }} " style="max-width: 90%;" />
      </div>
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img2.img_value }}" style="max-width: 90%;" />
      </div>
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img3.img_value }}" style="max-width: 90%;" />
      </div>
      <div class="col-lg-3 col-sm-6 item">
        <img class="img" src="{{ settings.find_product_img4.img_value }}" style="max-width: 90%;" />
      </div>
    </div>
  </div>
</section>

{% if settings.invite_title %}
<section id="invite" class="parallax" style="background-image: url({{settings.invite_background.img_value}});">
  <div class="container">
    <div class="list">
      <div class="col-md-7 col-sm-12 item wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <h2>{{settings.invite_title.text_value}}</h2>
        {{ settings.invite_description.text_value|safe}}
      </div>
    </div>
  </div>
</section>
{% endif %}



{% endblock %}

{% block extra_js %}
<script>
  function currentDiv1(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides1");
    var dots = document.getElementsByClassName("demo1");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " w3-opacity-off";
  }

  function currentDiv2(n) {
    showDivs2(slideIndex = n);
  }

  function showDivs2(n) {
    var i;
    var x = document.getElementsByClassName("mySlides2");
    var dots = document.getElementsByClassName("demo2");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " w3-opacity-off";
  }
</script>
{% endblock %}