{% extends 'frontend/base.html' %}
{% block content %}
<section id="blog" style="padding: 0 0 20px 0 !important;">
  <div style="overflow: hidden;">
    {% if product.banner %}
    <img class="img-responsive" src="{{ product.banner.url }}" alt="" style="display: block; width: 100%;">
    {% endif %}
  </div>
  <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">

      <div class="col-md-4 col-sm-12 text-center">
        <div class="w3-content product-preview">
          <div class="img-container" style="height: 300px;">
            {% for photo in product.productphoto_set.all %}
            <img class="mySlides mySlide img-display" src="{{ photo.img.url }}"
              alt=={{forloop.counter}} style="max-height: 100%; {% if not forloop.counter == 1 %} display: none {% endif %}">
            {% endfor %}
          </div>

          <div class="w3-row-padding w3-section product-thumbnail">
            <div class="w3-col s2">&nbsp;</div>
            {% for photo in product.productphoto_set.all %}
            <div class="w3-col s2">
              <img class="demo w3-opacity w3-hover-opacity-off" src="{{ photo.img.url }}" style="max-width: 100%;"
                onclick="currentDiv({{ forloop.counter }})">
            </div>
            {% endfor %}
            <div class="w3-col s2">&nbsp;</div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
        <h3 style="font-size: 2rem; font-weight: bold; text-align: center;">{{ product.name }}</h3>
        <div class="entry-content" style="
              font-size: 1em;
              letter-spacing: 0.5px;
              color: black;
              line-height: 1.5em;">
          {{product.desc|safe}}
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#blog-->
{% endblock %}

{% block extra_js %}
<script>
  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " w3-opacity-off";
  }
</script>
{% endblock %}