{% extends 'frontend/base.html' %}
{% block content %}
<section id="blog" style="padding: 0 0 20px 0 !important;">
  <div style="overflow: hidden;">
    {% if settings.products_banner %}
    <img class="img-responsive" src="{{settings.products_banner.img_value}}" alt=""
      style="display: block; width: 100%;">
    {% endif %}
  </div>

  <div class="container row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" style="display: flex; margin: 30px 0;" ;>
    {% for prod in products|slice:":2" %}
    {% with forloop.counter as outer_counter %}
    <div class="col-md-6 col-sm-4 text-center" style="flex: 1;">
      <div class="w3-content product-preview">
        <div class="img-container" style="border-bottom: none; margin-bottom: 20px;">
          {% for photo in prod.productphoto_set.all %}
          <a href="{% url 'frontend:product_detail'  prod.slug %}">
            <img class="mySlides mySlides{{outer_counter}} img-display" src="{{ photo.img.url }}"
              alt=={{forloop.counter}}
              style="max-height: 100%; {% if not forloop.counter == 1 %} display: none {% endif %}">
          </a>
          {% endfor %}
        </div>
        <h5 style="font-weight: bold; margin-top: 20px; margin-bottom: 20px;">{{ prod.name }}</h5>
        <a href="{% url 'frontend:product_detail'  prod.slug %}"
          class="btn-viewmore">{{settings.product_view_more.text_value|safe}}</a>
      </div>
    </div>
    {% endwith %}
    {% endfor %}

  </div>
  </div>
</section>
<!--/#blog-->
{% endblock %}