a,

#home-slider .caption h1 span, 

#twitter-carousel .item span, 

#footer .footer-bottom, 

#single-portfolio .close-folio-item:hover, 

.single-table.featured .btn.btn-primary, 

.contact-info ul li a:hover, 

#footer .footer-bottom a  {

  color: #191919;

}





.btn.btn-primary:hover,

.btn-submit:hover {

  background-color: #3e571d

}



a:hover, a:focus {

	color: #191919;

}



.main-nav, 

.progress-bar.progress-bar-primary, 

.single-table.featured, 

.btn.btn-primary, 

.twitter-icon .fa-twitter, 

.twitter-left-control:hover, .twitter-right-control:hover, 

.post-icon, 

.entry-header .date:after, 

.btn-loadmore:hover, 

.btn-submit,

.caption .btn-start:hover, 

.left-control:hover, 

.right-control:hover, 

.folio-overview a:hover {

  background-color:white;

}

.service-icon, .btn-submit, #footer {
	background-color: #191919;
	cursor: pointer;
}

.service-icon:hover {
	background-color: #3e571d !important;
}
  
h2 {
	color: #191919;
}
  
.twitter-left-control:hover, 

.twitter-right-control:hover, 

.btn-loadmore:hover  {

	border: 1px solid #191919;

}



.caption .btn-start:hover, 

.left-control:hover, 

.right-control:hover {

	border-color: #191919;

}



.twitter-icon .fa-twitter:after {

	border-color: #191919 transparent transparent;

}

.navbar-brand h1 {
    margin-top: -5px;
}

.logo-header {
	width: 80%;
}

.footer-img {
	-webkit-filter: drop-shadow(1px 2px 3px #222);
	filter: drop-shadow(1px 2px 3px #222);
}
