html {
    scroll-padding-top: 200px !important; /* height of sticky header */
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgb(175, 174, 174);
}

.navbar .collapse.in {
    position: absolute;
    z-index: 1000;
    background: white;
    width: 100%;
}

.carousel .carousel-inner .item {
    height: 100% !important;
}

.logo-header {
    width: 170px;
}

.line-vertical {
    height: 80px;
    margin: 1rem 2rem;
}

.about-caption {
    font-size: 1.7rem;
    font-weight: bold;
}

.productsz .container {
    width: 85%;
    margin: 0 auto;
}

.productsz .container .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .productsz .container .left img {
    height: 500px;
} */

.productsz .container .right .img-title {
    width: 70%;
}

.productsz .product-list  {
    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.productsz .product-list .item  {
    margin: 0;
}

.productsz .product-list  .item div img {
    max-height: 100%;
    max-width: 100%;
}

.productsz .product-list .item div {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hello {
    background-color: #f27395;
    color: white;
    font-size: 1.5rem;
    border-radius: 4rem;
    padding: 14px 32px;
    margin: 0 auto;
    width: 70%;
}

.btn-hello:hover {
    background-color: #da6785;
    color: white;
}

.btn-viewmore {
    background-color: #f27395;
    color: white;
    font-size: 1rem;
    border-radius: 4rem;
    padding: 8px 16px;
    margin: 0 auto;
    width: 70%;
}

.btn-viewmore:hover {
    background-color: #da6785;
    color: white;
}

  
@media (max-width: 767px) { 
    .productsz .product-list .item div {
        height: 150px;
    }

    .btn-hello {
        font-size: 1rem;
        width: 95% !important;
        padding: 16px;
    }
}


/* ABOUT US */

#aboutus {
    padding: 60px 0 0;
}

/* ABOUT US */
#products {
    padding: 3rem 0 0;
}

/* ----------------------- BENEFITS  -----------------------  */
#benefit {
    padding: 7rem 0 9rem !important;
    background-color: #f27395;
    color: white;
}

#benefit .container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#benefit .container h1 {
    font-weight: bold;
    margin-bottom: 5rem;
    color: white;
}


#benefit .container .benefit-list {
    
}

#benefit .container .benefit-list .item {
    text-align: center;
    padding: 1rem 4rem;
}

#benefit .container .benefit-list .item .benefit-img {
    margin-bottom: 4rem;
    width: 10%;
}

@media (max-width: 767px) { 
    #benefit .container {
        width: 100%;
    }

    #benefit .container h1 {
        font-weight: bold;
        margin-bottom: 2rem;
        color: white;
    }

    #benefit .container .benefit-list .item {
        text-align: center;
        padding: 1rem 1rem;
    }
    

    #benefit .container .benefit-list .item .benefit-img {
        width: 35%;
        margin-bottom: 2rem;
    }
}

/* ----------------------- FIND PRODUCTS  -----------------------  */
#find {
    padding: 4rem 0 !important;
}

#find .container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#find .container h1 {
    font-weight: bold;
    margin-bottom: 5rem;
}


#find .container .list .item {
    text-align: center;
    margin-bottom: 5rem;
}

#find .container .list .item .img {
    margin-bottom: 2rem;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

@media (max-width: 767px) { 

    #find .container h1 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    #find .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #find .container .row .item {
        width: 50%;
        float: left;
    }
    
}


/* ----------------------- INVITE PRODUCTS  -----------------------  */
#invite {
    padding: 10rem 0 !important;
}



#invite .container {
    width: 85%;
    margin: 0 auto;
}

#invite .container h2 {
    font-weight: bold;
    color: #191919;
    margin-bottom: 3rem;
}


#invite .container .list {
    
}

#invite .container .list .item {
   background-color: white;
   color: #191919;
   padding: 3rem;
}

@media (max-width: 767px) { 
    #invite {
        padding: 3rem 0 !important;
    }

    .productsz .product-list {
        width: 100%;
    }
}


/* ----------------------- INVITE PRODUCTS  -----------------------  */
#invite-2 {
    padding: 10rem 0 !important;
}

#invite-2 .container {
    width: 85%;
    margin: 0 auto;
}

#invite-2 .container h2 {
    font-weight: bold;
    color: #191919;
    margin-bottom: 3rem;
}


#invite-2 .container .list {
    
}

#invite-2 .container .list .item {
   background-color: white;
   color: #191919;
   padding: 3rem;
}


/* ----------------------- BLOG PRODUCTS  -----------------------  */
#blog {
    padding: 5rem 0 !important;
}

#blog .container {
    width: 98%;
    margin: 0 auto;
}

#blog .container h1 {
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin-bottom: 3rem;
}

#blog .container h2 {
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin-bottom: 1rem;
}


#blog .container .list {
    
}

#blog .container .list .item {
   padding: 3rem;
}

#blog .container .list .item .entry-header h3 {
    margin: 2rem 0 0;
    font-weight: bold;
}

#blog .container .list .item hr {
    margin: 1rem 0;
}

#blog .container .list .item .entry-content {
    color: #6d6c6c;
}

#blog .container .list .item .read-more {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

#blog .container .dashed {
    border: 1px dashed black;
}

#blog .container .blog-posts .load-more  {
   margin-top: 2rem;
}

#blog .container .blog-posts .load-more .btn-loadmore {
    background-color: #f27395;
    color: white;
    font-size: 1rem;
    border-radius: 4rem;
}



/* TESTIMONI  */
#twitter {
    padding: 0 0 90px;
}

#twitter .container h1 {
    font-weight: bold;
    color: #191919;
    text-align: center;
    margin-bottom: 5rem;
}


#twitter-carousel .carousel-inner .item .item-wrapper {
    width: 100%; 
    margin: 0 auto;
}

#twitter-carousel .carousel-inner .item .item-wrapper img {
    width: 120px; 
    height: 120px; 
    margin: 0 auto;
}

#twitter-carousel .carousel-inner .item .item-wrapper .right {
    padding: 1rem;
    width: 100%; 
    margin: 0 auto;
}

#twitter-carousel .carousel-inner .item .item-wrapper .right .name {
    font-weight: bold;
    margin-bottom: 0;
}

#twitter-carousel .carousel-inner .item .item-wrapper .right .address {
    margin-bottom: 1rem;
}

#twitter-carousel .carousel-inner .item .item-wrapper .right .testimony {
    
}


/* footer-socmed */
.footer-socmed {
    background-color: #d24061;
    padding: 0;
}

.footer-socmed .socmed-banner {
    width: 100%;
}

.footer-socmed .div-right {
    padding: 4rem 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-socmed .div-right .socmed-icon {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}

.footer-socmed .social-img2 {
    width: 80% !important;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
}


/* FOOTER */
#footer {
    background-color: #f27395;
    padding: 20px 0 0;
}

#footer .container {
    background-color: #f27395;
}

#footer .container .footer-logo  {
    text-align: center;
}


#footer .container .footer-logo .footer-img {
    width: 20%;
    filter: none;
    margin: 0 auto;
}


#footer .container .address {
    width: 40%; 
    margin: 1rem auto 0; 
}


@media (max-width: 767px) { 
    #footer .container .footer-logo .footer-img {
        width: 70%;
    }
    
    #footer .container .address {
        width: 40%; 
        margin: 0 auto 0; 
    }
}


.product-preview {
    text-align: center;
}

.product-preview .img-container {
    border-bottom: 1px solid #d24061;  
    padding: 16px 0; 
    height: 420px;
}

.product-preview  .img-container .img-display {
    height: 350px;
    max-width: 100%; 
    margin: 0 auto
}

.prod-name {
    font-weight: bold; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}


@media (max-width: 767px) { 
    .product-preview  .img-container {
        height: 100%;
    }

    .product-preview  .img-container .img-display {
        height: initial;
        max-width: 100%; 
    }

    .prod-name {
        font-size: 17px;
    }
}

.product-thumbnail {
    border-bottom: 1px solid #d24061; 
    padding: 8px 0; 
    margin-top: 0 !important;
    max-height: 60px;
}

.product-thumbnail .demo {
    cursor:pointer; 
    height: 50px;
    margin-bottom: 10px;
}
