/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.price {
		font-size: 16px;
		height: 110px;
		line-height: 30px;
		width: 100%;
	}
	.price span {
		font-size: 40px;
		margin-top: 27px;
	}
	.btn-signup {
		padding: 10px 20px;
	}

	#benefit, #find, #invite, #blog {
		padding: 6rem 0 6rem !important;
	}
	

	#aboutus {
		padding: 3rem 0 3rem !important;
	}

	#twitter-carousel .carousel-inner .item .item-wrapper img {
		width: 120px;
	}

	#twitter-carousel .carousel-inner .item .item-wrapper div {
		margin-bottom: 2rem;
	}

	
	.footer-socmed .div-right {
        padding: 3rem 0 2rem 0;
    }

	.footer-socmed .div-right .title-connect {
		font-size: 30px;
	}

    .footer-socmed .social-img2 {
        width: 50% !important;
    }

	.footer-socmed .div-right .socmed-icon {
		margin: 2rem auto;
	}

	
}

/* xs */
@media (max-width: 767px) {
	.logo-header {
		width: 130px;
		margin-top: 20px;
	}

	body {
		font-size: 14px;
	}
	#home-slider .caption h1 {
		font-size: 40px;
	}
	#home-slider .caption {
		font-size: 15px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  /* border:1px solid black; */
	}

	.navbar-toggle .icon-bar {
	  background-color: black;
	}
	.navbar-right li a {
		font-size: 16px;
		padding-bottom: 8px;
		padding-top: 10px;
	}

	/*services*/
	section {
		padding: 45px 0;
	}
	.heading {
		font-size: 14px;
		padding-bottom: 45px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4), 
	.our-services .col-sm-4:nth-child(5), 
	.our-services .col-sm-4:nth-child(6) {
		padding-top: 0;
	}
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.team-member {
		margin-bottom: 50px;
	}
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4  {
		width: 50%;
		float: left;
	}
	.social-icons ul li a {
		font-size: 14px;
		height: 50px;
		line-height: 30px;
		width: 50px;
	}	
	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}
	#features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.price span {
		font-size: 50px;
		margin-top: 25px;
	}
	.price {
		font-size: 18px;
		height: 110px;
		line-height: 35px;
		width: 130px;
	}
	.single-table ul {
		margin-top: 22px;
	}
	.single-table ul li {
		font-size: 14px;
		margin-top: 15px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	#twitter {
		padding-bottom: 75px;
	}
	.twitter-left-control, 
	.twitter-right-control {
		top: inherit;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 3rem;
		bottom: 50%;
	}
	#blog {
		overflow: hidden;
	}

	.blog-posts .col-sm-4 {
		margin-bottom: 35px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		font-size: 12px;
		padding: 10px 60px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}

	#aboutus, #products, #benefit, #find, #invite, #blog {
		/* padding: 4rem 0 4rem !important; */
	}

	.productsz .container {
		width: 100%;
	}

	.productsz .product-list .item  {
		width: 50%;
		margin: 0;
		float: left;
	}

	.productsz .container .left div img {
		max-width: 100%;
	}

	#invite .container {
		width: 100%;
	}

	#blog .container {
		width: 100%;
	}

	#twitter-carousel .item {
		padding: 0 20px;
	}

	#footer .container .address {
		width: 100%;
		margin-top: 20px;
	}

	#blog .container .list .item {
		padding: 2rem;
	}

	#twitter-carousel .carousel-inner .item .item-wrapper img {
		width: 80px;
		height: 80px;
	}

	#twitter-carousel .carousel-inner .item .item-wrapper div {
		margin-bottom: 1rem;
	}


	.footer-socmed .div-right {
		padding: 2rem 0 0;
	}

	.footer-socmed .div-right .socmed-icon {
		margin: 3rem auto;
	}


	#aboutus {
		padding: 15px 0 0;
	}

	#aboutus .container {
		padding: 32px;
	}

	#products {
		padding: 1rem 0 3rem;
	}

	#find {
		padding: 2rem 0 !important;
	}

	.footer-socmed .div-right {
        padding: 2rem !important;
    }

	.footer-socmed .div-right .title-connect {
		font-size: 30px;
	}

    .footer-socmed .social-img2 {
        width: 100% !important;
    }

	.footer-socmed .div-right .socmed-icon {
		margin: 2rem auto;
	}

	#aboutus h2 {
		font-size: 20px;
		margin-bottom: 30px;
	}
	

	.product-thumbnail {
		max-height: 50px;
		overflow: hidden;
	}

	.product-thumbnail .demo {
		width: 70%;
		height: initial;
		max-height: 90%;
	}

}

/* XS Portrait */
@media (max-width: 479px) {
  
	.team-members .col-sm-3, 
	.pricing-table .col-sm-3, 
	#portfolio .col-sm-3, 
	.blog-posts .col-sm-4 {
		width:100%;
		float: none;
	}
}

